@import url('https://fonts.googleapis.com/css?family=Oswald:400,600,700&display=swap');

body{
    /* background-color: rgb(216, 213, 213); */
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQM7ySGPpcGt4Wa-gIYc7FjGTKMbT_nRdwNdM2K2kCx3RJi7z1xBQ");
    
    background-size: cover;
    /* background-repeat: no-repeat; */
}

#divImg{
    background-repeat: no-repeat; 
    height: 100vh;
    padding: 0;
   
}


#divBody{
    height: 100vh;
   
}

#divColorBlock{
    height: 100vh;
    background-color: rgb(255, 251, 0);
   
    
}

#imgSelf, #imgAbout{
    height: 100%;
    width: 100%;
    padding: 0;
}

#nameRow{
    margin: 10% 0;
}

#btnMenu{
margin: 20px 20px 0 0;   
}


#divScroll{
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
    margin-left: 50%;
    margin-right: 50%;
    bottom: -20px
}

.aboutMe{
    text-align: justify;
    line-height: 1.75rem;
    font-size: 17px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 0 10px;

}

.about{
    margin: 5%;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    color: rgb(9, 9, 71);
    height: auto;
    background-color: white;
    padding-top: 10%;
    padding-left: 5%;
   
}

#imgAbout{
    width: 60%;
}

.btnIcon{
    width: 42px;
    height: 42px;
    margin:10px;
}

#divInfo{
    margin-top: 40px;
    padding: 0 50px;
}

/* styles for download resume button */
#btnDownload{
    padding: 5px;
    padding-right: 20px;
}

.icons{
   padding: 0 5px;
}

#downloadSpan{
    padding: 5px;
}




#divPortfolio{
    border: solid 1px grey;    
    margin-left: auto;
    margin-right: auto;    
    width: 100%;    
    position: relative;
   
   
   
}


#divPortfolio::before{
    background:url(https://cdn.pixabay.com/photo/2015/09/09/20/59/office-933306_960_720.jpg) no-repeat center center fixed;
    display: block; content:""; position: absolute; z-index:-4;
    top:0; left: 0; right: 0; height: 100%;
    opacity:0.5;
    background-size: cover;
    }

#divRow{
    margin: 5%;
}


#divProjects{
    margin-left: auto;
    margin-right: auto;
    width: 100%;    
  
}

#divDropdown{
    position: absolute;
    display: none;
    z-index: 1;   
    background-color: rgba(247, 7, 7, 1); 
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    margin-left: auto;
    
}

#divDropdown a {
    color: black;
    padding: 50px 35px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;   
    font-size: 30px;
    
   
  }

.divMenu{
    position: relative;
     
}


#cardLogin{
    margin:25%;
    padding : 0 2%;
}



#img1, #img2, #img3, #img4, #img5{
    width: 400px;
    height: 400px;
    margin-top: 5%;
    z-index: 20;    
}

#carousel1{
    /* border: blue solid; */
    margin-bottom: 10px;
    z-index: 1;
}

#projectLink{
    font-size: 20px;
    color: black;
    margin: 10px;

}

#divLink{
    bottom: -10px;
    text-align : right;
    z-index: 500;
    position: absolute;
    width: 100%;
}

#projectLink{
    z-index: 540;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

#linkCol{
    z-index: 520;
    width: 100%;
  
}

.myPortfolio{
    color: rgb(18, 18, 104);
    font-family: 'Oswald', sans-serif;
    font-size: 70px;
}

.blinking{
	animation:blinkingText 2.0s infinite;
}
@keyframes blinkingText{
	0%{		color:  rgb(18, 18, 104);	}
	49%{	color: rgb(49, 49, 151) ;	}
	50%{	color: transparent;	}
	99%{	color: rgb(49, 49, 151) ;	}
	100%{	color: rgb(18, 18, 104);	}
}
/* media queries */


@media only screen and (max-width: 600px) {
    #divPortfolio{
        margin : 30% 2% 10% 2%;            

    }

    #divRow{
        margin: 0 5%;
    }

    .about{
        /* margin-top: 50%; */
       
        margin-left: 2%;
        margin-right: 2%;
    }

    .cardRow{
        display: inline-block;
    }

    #divDropdown a {
        color: black;
        padding: 60px 35px;
        text-decoration: none;
        display: block;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-weight: 400;   
        font-size: 30px;
    } 

    #nameRow{
        margin-left: 30px;
    }

    #divProjects{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        padding-left: 0;
    
    }

    #divColorBlock{
        height: auto;
        
    }

    #divLink{
        margin-top: 80%;
        text-align : right;
        z-index: 500;
    }

    #projectLink{
        z-index: 540;
    }

    #linkCol{
        z-index: 520;
    }
}


@media only screen and (min-width: 600px) and (max-width:768px) {
    .about{
        margin-left: 2%;
        margin-right: 2%;
        padding: 0;
    }

    .cardRow{
        display: inline-block;
        padding-left: 10%;
    }


    #divColorBlock{
        height: auto;
        
    }

    #divProjects{
        width: 100%;
        /* padding-left: 0; */
        margin-left: 8%;
    }    

    #nameRow{
        margin: 5% 0;
    }

    #divLink{
        margin-top: 50%;
        text-align : right;
    }
}

@media only screen and (min-width: 768px) and (max-width:992) {
    .about{
        margin-left: 2%;
        margin-right: 2%;
        padding: 0;
    }



    #divColorBlock{
        height: auto;
        
    }

    
    #divProjects{
        width: 100%;
        margin-left: 8%;
    } 
}